h1 {
    color: rgb(11, 121, 58);
    font-size: 40px;
    font-family: sans-serif;
}
.brown-text {
    color: rgb(124, 55, 6);
}
p {
    font-size: 20px;
    font-family: sans-serif;
}
ul {
    font-size: 15px;
    font-family: sans-serif;
}
ol {
    font-size: 15px;
    font-family: sans-serif;
}
a {
    font-size: 12px;
    font-family: sans-serif;
}
footer {
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 600;
}
.thin-grey-border{
    border-color: silver;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
}
body {
    background-color: rgb(184, 184, 96);
}
